---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Nation Club Golfer'>
  <header class='[ c-header ] js-header initiated' id='top' data-module='header'>
    <div class='[ c-header__inner ] [ u-wrapper ]'>
      <div class='[ c-header__nav ]'>
        <a class='[ b-brand ]' href='https://www.nationalclubgolfer.com/' title='National Club Golfer'>
          <img
            src='https://www.nationalclubgolfer.com/wp-content/uploads/2023/08/ncg-header.svg'
            alt=''
            width='265'
            height='51'
            style='height:51px;width:265px;'
          />
        </a>
        <nav class='[ c-nav__container ]' aria-label='Main'>
          <div class='menu-main-container'>
            <ul id='menu-main' class='[ c-nav ]'>
              <li id='menu-item-83145' class='menu-item menu-item-type-post_type_archive menu-item-object-reviews menu-item-has-children menu-item-83145'>
                <a href='https://www.nationalclubgolfer.com/reviews/'>Reviews</a>
                <ul class='sub-menu'>
                  <li id='menu-item-433136' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-433136'>
                    <a href='https://www.nationalclubgolfer.com/reviews/drivers/'>Drivers</a>
                  </li>
                  <li id='menu-item-83156' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83156'>
                    <a href='https://www.nationalclubgolfer.com/reviews/fairway-woods/'>Fairway woods</a>
                  </li>
                  <li id='menu-item-83158' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83158'>
                    <a href='https://www.nationalclubgolfer.com/reviews/hybrids/'>Hybrids</a>
                  </li>
                  <li id='menu-item-83159' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83159'>
                    <a href='https://www.nationalclubgolfer.com/reviews/irons/'>Irons</a>
                  </li>
                  <li id='menu-item-83165' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83165'>
                    <a href='https://www.nationalclubgolfer.com/reviews/wedges/'>Wedges</a>
                  </li>
                  <li id='menu-item-83161' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83161'>
                    <a href='https://www.nationalclubgolfer.com/reviews/putters/'>Putters</a>
                  </li>
                  <li id='menu-item-83154' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83154'>
                    <a href='https://www.nationalclubgolfer.com/reviews/balls/'>Balls</a>
                  </li>
                  <li id='menu-item-433140' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-433140'>
                    <a href='https://www.nationalclubgolfer.com/reviews/distance-measuring-devices/'>Distance measuring devices</a>
                  </li>
                  <li id='menu-item-433138' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-433138'>
                    <a href='https://www.nationalclubgolfer.com/reviews/apparel/'>Apparel</a>
                  </li>
                  <li id='menu-item-83162' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-83162'>
                    <a href='https://www.nationalclubgolfer.com/reviews/shoes/'>Shoes</a>
                  </li>
                  <li id='menu-item-433139' class='menu-item menu-item-type-taxonomy menu-item-object-reviews-category menu-item-433139'>
                    <a href='https://www.nationalclubgolfer.com/reviews/trolleys/'>Trolleys</a>
                  </li>
                </ul>
              </li>
              <li id='menu-item-83146' class='menu-item menu-item-type-post_type_archive menu-item-object-best-golf-deals menu-item-83146'>
                <a href='https://www.nationalclubgolfer.com/best-golf-deals/'>Buying Advice</a>
              </li>
              <li id='menu-item-83147' class='menu-item menu-item-type-post_type_archive menu-item-object-tour menu-item-has-children menu-item-83147'>
                <a href='https://www.nationalclubgolfer.com/tour/'>Tour</a>
                <ul class='sub-menu'>
                  <li id='menu-item-83167' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83167'>
                    <a href='https://www.nationalclubgolfer.com/tour/pga-championship/'>PGA Championship</a>
                  </li>
                  <li id='menu-item-83166' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83166'>
                    <a href='https://www.nationalclubgolfer.com/tour/liv-golf/'>LIV Golf</a>
                  </li>
                  <li id='menu-item-83169' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83169'>
                    <a href='https://www.nationalclubgolfer.com/tour/the-masters/'>The Masters</a>
                  </li>
                  <li id='menu-item-83170' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83170'>
                    <a href='https://www.nationalclubgolfer.com/tour/the-open/'>The Open</a>
                  </li>
                  <li id='menu-item-83172' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83172'>
                    <a href='https://www.nationalclubgolfer.com/tour/us-open/'>US Open</a>
                  </li>
                  <li id='menu-item-83168' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83168'>
                    <a href='https://www.nationalclubgolfer.com/tour/ryder-cup/'>Ryder Cup</a>
                  </li>
                  <li id='menu-item-83173' class='menu-item menu-item-type-taxonomy menu-item-object-tour-category menu-item-83173'>
                    <a href='https://www.nationalclubgolfer.com/tour/witb/'>WITB</a>
                  </li>
                </ul>
              </li>
              <li id='menu-item-83148' class='menu-item menu-item-type-post_type_archive menu-item-object-betting menu-item-83148'>
                <a href='https://www.nationalclubgolfer.com/betting/'>Betting</a>
              </li>
              <li id='menu-item-83149' class='menu-item menu-item-type-post_type_archive menu-item-object-rules menu-item-83149'>
                <a href='https://www.nationalclubgolfer.com/rules/'>Rules</a>
              </li>
              <li id='menu-item-83150' class='menu-item menu-item-type-taxonomy menu-item-object-features-category menu-item-has-children menu-item-83150'>
                <a href='https://www.nationalclubgolfer.com/features/from-the-clubhouse/'>Club</a>
                <ul class='sub-menu'>
                  <li id='menu-item-83174' class='menu-item menu-item-type-post_type_archive menu-item-object-whs menu-item-83174'>
                    <a href='https://www.nationalclubgolfer.com/whs/'>WHS</a>
                  </li>
                  <li id='menu-item-83175' class='menu-item menu-item-type-post_type_archive menu-item-object-podcasts menu-item-83175'>
                    <a href='https://www.nationalclubgolfer.com/podcasts/'>Podcasts</a>
                  </li>
                  <li id='menu-item-83189' class='menu-item menu-item-type-post_type_archive menu-item-object-features menu-item-83189'>
                    <a href='https://www.nationalclubgolfer.com/features/'>Features</a>
                  </li>
                  <li id='menu-item-83190' class='menu-item menu-item-type-custom menu-item-object-custom menu-item-83190'><a href='/news/'>News</a></li>
                </ul>
              </li>
              <li id='menu-item-83151' class='menu-item menu-item-type-post_type_archive menu-item-object-golf-tips menu-item-has-children menu-item-83151'>
                <a href='https://www.nationalclubgolfer.com/golf-tips/'>Instruction</a>
                <ul class='sub-menu'>
                  <li id='menu-item-83176' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83176'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/course-management/'>Course management</a>
                  </li>
                  <li id='menu-item-83177' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83177'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/driving-tips/'>Driving tips</a>
                  </li>
                  <li id='menu-item-83179' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83179'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/iron-play/'>Iron play</a>
                  </li>
                  <li id='menu-item-83181' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83181'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/long-game/'>Long game</a>
                  </li>
                  <li id='menu-item-83185' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83185'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/short-game/'>Short game</a>
                  </li>
                  <li id='menu-item-83184' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83184'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/putting/'>Putting</a>
                  </li>
                  <li id='menu-item-83180' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83180'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/learn-from-the-pros/'>Learn from the pros</a>
                  </li>
                  <li id='menu-item-83178' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83178'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/fitness/'>Fitness</a>
                  </li>
                  <li id='menu-item-83182' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83182'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/mental-game/'>Mental game</a>
                  </li>
                  <li id='menu-item-83183' class='menu-item menu-item-type-taxonomy menu-item-object-golf-tips-category menu-item-83183'>
                    <a href='https://www.nationalclubgolfer.com/golf-tips/nutrition/'>Nutrition</a>
                  </li>
                </ul>
              </li>
              <li id='menu-item-83188' class='menu-item menu-item-type-post_type_archive menu-item-object-competitions menu-item-83188'>
                <a href='https://www.nationalclubgolfer.com/competitions/'>Competitions</a>
              </li>
              <li id='menu-item-83152' class='menu-item menu-item-type-post_type_archive menu-item-object-travel menu-item-83152'>
                <a href='https://www.nationalclubgolfer.com/travel/'>Travel</a>
              </li>
              <li id='menu-item-433141' class='menu-item menu-item-type-custom menu-item-object-custom menu-item-433141'>
                <a href='https://ncgtop100stour.com'>Top 100s Tour</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div class='flex items-center'>
        <div class='[ b-search ]'>
          <button
            aria-expanded='false'
            aria-controls='search-form'
            aria-label='Search Field'
            type='button'
            class='[ b-search__action b-search__action--magnify ][ js-search__action ]'
            data-type='open'
          >
            <span aria-hidden='true'
              ><svg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                <path
                  d='M23.5786 21.752L18.3562 16.4243C19.8129 14.2898 20.423 11.6716 20.0639 9.09652C19.7048 6.52147 18.4031 4.18079 16.4207 2.5456C14.4384 0.910406 11.9226 0.102084 9.37969 0.283323C6.83678 0.464562 4.45555 1.62191 2.71525 3.52242C0.974952 5.42294 0.00478687 7.92554 1.76669e-05 10.5265C-0.00475154 13.1275 0.956229 15.6338 2.68955 17.5409C4.42286 19.4481 6.79984 20.6145 9.34206 20.8055C11.8843 20.9964 14.403 20.1977 16.3914 18.5701L21.5437 23.8283C21.8135 24.1036 22.1795 24.2583 22.5611 24.2583C22.9427 24.2583 23.3087 24.1036 23.5786 23.8283C23.8484 23.553 24 23.1795 24 22.7902C24 22.4008 23.8484 22.0273 23.5786 21.752V21.752ZM10.095 17.8979C8.67256 17.8979 7.28206 17.4675 6.09934 16.6611C4.91662 15.8548 3.9948 14.7087 3.45045 13.3678C2.90611 12.0269 2.76368 10.5514 3.04119 9.12784C3.31869 7.70433 4.00367 6.39675 5.00949 5.37046C6.0153 4.34417 7.2968 3.64525 8.69191 3.3621C10.087 3.07895 11.5331 3.22427 12.8473 3.7797C14.1614 4.33512 15.2847 5.2757 16.0749 6.4825C16.8652 7.68929 17.287 9.10809 17.287 10.5595C17.2847 12.505 16.5263 14.3702 15.178 15.7459C13.8297 17.1217 12.0017 17.8956 10.095 17.8979V17.8979Z'
                  fill='#887230'></path>
              </svg>
            </span>
          </button>
          <div class='[ b-search__container ][ js-search__container ]' id='search-form'>
            <div class='[ u-wrapper ]'>
              <form role='search' method='get' class='b-search__form' action='https://www.nationalclubgolfer.com/'>
                <label class='sr-only' for='search'>
                  <span> Search for:</span>
                </label>
                <input type='search' placeholder='Search …' value='' name='s' id='search' />
                <button class='[ hidden ]'>
                  <span class='[ u-button__inner ]'>Search</span>
                </button>
                <nav aria-label='Hide Search'>
                  <button class='[ c-burger is-active ][ js-search__action ]' data-type='close' aria-label='Close Search' aria-expanded='false' tabindex='-1'>
                    <div class='[ c-burger__inner'>
                      <span aria-hidden='true' class='[ c-burger__line c-burger__line--top ]'></span>
                      <span aria-hidden='true' class='[ c-burger__line c-burger__line--middle ]'></span>
                      <span aria-hidden='true' class='[ c-burger__line c-burger__line--bottom ]'></span>
                    </div>
                  </button>
                </nav>
              </form>
            </div>
          </div>
        </div>
        <nav class='flex items-center tablet:hidden' aria-label='Mobile Navigation Controller'>
          <button class='[ c-burger ][ js-burger ]' aria-label='Open main menu' aria-expanded='false' tabindex='0'>
            <div class='[ c-burger__inner'>
              <span aria-hidden='true' class='[ c-burger__line c-burger__line--top ]'></span>
              <span aria-hidden='true' class='[ c-burger__line c-burger__line--middle ]'></span>
              <span aria-hidden='true' class='[ c-burger__line c-burger__line--bottom ]'></span>
            </div>
          </button>
        </nav>
      </div>
    </div>
  </header>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
